- name: init | ansible | ensure ansible latest version
  package:
    name: ansible
    state: latest

- name: init | ansible | create group
  group:
    name: ansible
    state: present

- name: init | ansible | create user
  user:
    name: ansible
    group: ansible
    groups: wheel
    state: present
    comment: "Ansible"
    system: yes
    shell: /usr/bin/nologin

- name: init | ansible | add sudoers file
  copy:
    src: files/users/sudoers_ansible
    dest: /etc/sudoers.d/ansible
    owner: root
    group: root
    mode: 0440

- name: init | openssh | [Arch] installation
  package:
    name: openssh
    state: latest
  when: ansible_distribution == "Archlinux"

- name: init | openssh | [Arch] start daemon
  systemd:
    name: sshd
    state: started
    enabled: yes
  when: ansible_distribution == "Archlinux"

- name: init | ssh | create dir
  file:
    path: /home/ansible/.ssh
    state: directory
    owner: ansible
    group: ansible
    mode: 0700

- name: init | ssh | generate keys
  openssh_keypair:
    path: /home/ansible/.ssh/id_ed25519
    type: ed25519
    state: present
    owner: ansible
    group: ansible
    comment: "Ansible"

- name: init | ssh | ensure known_hosts & authorized_keys exists
  file:
    path: "{{ item }}"
    state: touch
    owner: ansible
    group: ansible
    mode: 0600
  with_items:    
    - /home/ansible/.ssh/known_hosts
    - /home/ansible/.ssh/authorized_keys
