# grab the parent driver name when a new I2C bus is added
ACTION=="add", SUBSYSTEM=="i2c", IMPORT{parent}="DRIVER"

# attach ddcci for Nouveau driver (Open Source)
ACTION=="add", SUBSYSTEM=="i2c", ENV{DRIVER}=="nouveau", ATTR{new_device}="ddcci 0x37"

# attach ddcci for Nvidia Proprietary drivers
ACTION=="add", SUBSYSTEM=="i2c", ENV{DRIVER}=="nvidia", ATTR{new_device}="ddcci 0x37"