# bind ddcci to all I2C buses spawned by the Nouveau driver (open source)
ACTION=="add|change", SUBSYSTEM=="i2c", ATTR{name}=="nvkm-*", ATTR{new_device}="ddcci 0x37"

# fallback: bind ddcci to all I2C buses spawned by the NVIDIA proprietary drivers
ACTION=="add|change", SUBSYSTEM=="i2c", ATTR{name}=="NVIDIA i2c adapter*", ATTR{new_device}="ddcci 0x37"