- name: users | ansible | create group
  group:
    name: ansible
    state: present

- name: users | ansible | create user
  user:
    name: ansible
    group: ansible
    groups: "{{ sudo_group }}"
    state: present
    comment: "Ansible"
    system: yes
    shell: /usr/bin/nologin

- name: users | ansible | add sudoers file
  copy:
    src: files/users/sudoers_ansible
    dest: /etc/sudoers.d/ansible
    owner: root
    group: root
    mode: 0440
