* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    /*font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif, "Material Symbols Outlined";*/
    font-size: 12px;
}

@define-color darkergray #505050;

window#waybar {
    background-color: rgba(43, 48, 59, 0.5);
    border-bottom: 3px solid rgba(100, 114, 125, 0.5);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#workspaces,
#keyboard,
#sysadmin {
    margin-right: 5px;
}

#workspaces,
#toggle,
#monitoring,
#control,
#battery,
#datetime {
    margin-left: 5px;
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 5px;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

* {
    padding-top: 0;
    padding-bottom: 0;
}

#workspaces {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

#workspaces button {
    padding-right: 5px;
    padding-left: 5px;
    background-color: transparent;
    color: #ffffff;
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.focused {
    background-color: lightgray;
    color: #000000;
    border-radius: 10px;
    font-weight: bold;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

box#keyboard {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

#xremap,
#kanata,
#zsa {
    color: lightgray;
}

#kanata,
#zsa #image.zsa-icon {
    border-left: 1px solid rgba(255, 255, 255, 0.1);
}

#xremap {
    padding-right: 8px;
    padding-left: 8px;
}

#xremap:hover {
    background: rgba(128, 128, 128, 0.5);
    transition: background 0.3s ease;
}

#xremap #image.xremap {
    padding-right: 5px;
}

#custom-xremap-mode.default {
    color: gray;
}

#custom-xremap-mode.lan-mouse {
    background: rgba(255, 0, 0, 0.5);
}

#kanata:hover {
    background: rgba(128, 128, 128, 0.5);
    transition: background 0.3s ease;
}

#kanata.empty {
    padding: 0;
}

#kanata #image.kanata-icon {
    padding-right: 5px;
    padding-left: 10px;
}

#kanata #image.kanata-icon.empty {
    border-left: 0;
    padding: 0;
}

#kanata #custom-kanata-layer {
    color: gray;
    font-family: ttf-jetbrains-mono;
    padding-right: 5px;
    padding-bottom: 2px;
}

#custom-kmonad.active {
    color: green;
}

#custom-kmonad.inactive {
    color: gray;
}

#custom-kmonad.failed {
    color: red;
}

#custom-kmonad.activating {
    color: yellow;
}

#custom-kmonad.deactivating {
    color: yellow;
}

#custom-kmonad.unknown {
    color: orange;
}

#custom-kmonad:hover {
    background: rgba(128, 128, 128, 0.5);
    transition: background 0.3s ease;
}

#zsa:hover {
    background: rgba(128, 128, 128, 0.5);
    transition: background 0.3s ease;
}

#zsa #image.zsa-icon {
    padding-left: 5px;
}

#zsa #image.zsa-icon.empty {
    border-left: 0;
    padding-right: 0;
}

#zsa #custom-zsa-layer {
    color: gray;
    font-family: ttf-jetbrains-mono;
    padding-right: 3px;
}

#custom-pacman,
#ansible,
#informant {
    padding-right: 5px;
    padding-left: 5px;
    margin:  0;
    background-color: rgba(0, 0, 0, 0.2);
    color: lightgray;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
}

#custom-pacman {
    border-radius: 10px 0 0 10px;
}

#custom-pacman.low {
}

#custom-pacman.medium {
}

#custom-pacman.high {
}

#custom-pacman:hover {
    background: rgba(128, 128, 128, 0.5);
    transition: background 0.3s ease;
}

#informant:hover {
    background: rgba(128, 128, 128, 0.5);
    transition: background 0.3s ease;
}

#informant #image.arch-news {
    padding-right: 5px;
    margin-bottom: 3px;
}

#informant #custom-informant {
    padding-right: 3px;
}

#informant #custom-informant.zero {
    color: dimgray;
}

#informant #custom-informant.news {
}

#ansible {
    border-radius: 0 10px 10px 0;
    padding-right: 10px;
}

#ansible:hover {
    background: rgba(128, 128, 128, 0.5);
    transition: background 0.3s ease;
}

#ansible #image.ansible {
    padding-right: 5px;
    margin-bottom: 2px;
}

#custom-ansible-provision.out-of-sync {
    font-weight: bold;
}

#custom-ansible-provision.synced {
    color: dimgray;
}

#custom-pomodoro-timer {
    border-radius: 10px;
    padding-right: 7px;
    padding-left: 7px;
    margin:  0;
    background-color: rgba(0, 0, 0, 0.2);
    color: lightgray;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
}

#custom-pomodoro-timer.work {
}

#custom-pomodoro-timer.work-paused {
    background-color: rgba(256, 153, 153, 0.5);
}

#custom-pomodoro-timer.break {
}

#custom-pomodoro-timer.break-paused {
    background-color: rgba(125, 211, 219, 0.5);
}

#custom-pomodoro-timer.long-break {
}

#custom-pomodoro-timer.long-break-paused {
    background-color: rgba(116, 192, 219, 0.5);
}

#custom-pomodoro-timer:hover {
    background: rgba(128, 128, 128, 0.5);
    transition: background 0.3s ease;
}

#custom-scratchpad-whatsapp,
#custom-scratchpad-ytmusic,
#custom-scratchpad-calendar,
#custom-scratchpad-llm,
#custom-scratchpad-translate,
#custom-scratchpad-scrcpy-phone,
#custom-scratchpad-scrcpy-watch,
#custom-scratchpad-terminal,
#custom-scratchpad-python,
#custom-scratchpad-keymapp,
#custom-scratchpad-temp-1,
#custom-scratchpad-temp-2,
#custom-scratchpad-temp-3 {
    background-color: rgba(0, 0, 0, 0.5);
    padding-right: 2px;
    padding-left: 2px;
    margin:  0;
    color: #ffffff;
}

#custom-scratchpad-calendar,
#custom-scratchpad-translate,
#custom-scratchpad-scrcpy-watch,
#custom-scratchpad-python,
#custom-scratchpad-keymapp,
#custom-scratchpad-temp-3 {
    border-right: 4px solid rgba(255, 255, 255, 0.1);
}

#scratchpads #image.scratchpad-icon {
    border-radius: 10px;
    padding-right: 7px;
    padding-left: 7px;
    margin:  0;
    background-color: rgba(0, 0, 0, 0.2);
    color: lightgray;
}

#scratchpads #image.scratchpad-icon:hover {
    background: rgba(128, 128, 128, 0.5);
    transition: background 0.3s ease;
}

#custom-scratchpad-whatsapp {
    color: gray;
    border-radius: 10px 0 0 10px;
    padding-right: 5px;
    padding-left: 8px;
}

#custom-scratchpad-whatsapp.enabled {
    color: green;
}

#custom-scratchpad-whatsapp:hover {
    background: rgba(0, 255, 0, 0.5);
    transition: background 0.3s ease;
}

#custom-scratchpad-ytmusic {
    color: gray;
}

#custom-scratchpad-ytmusic.enabled {
    color: red;
}

#custom-scratchpad-ytmusic:hover {
    background: rgba(255, 0, 0, 0.5);
    transition: background 0.3s ease;
}

#custom-scratchpad-calendar {
    color: gray;
}

#custom-scratchpad-calendar.enabled {
    color: #40409c;
}

#custom-scratchpad-calendar:hover {
    background: rgba(128, 173, 248, 0.5);
    transition: background 0.3s ease;
}

#custom-scratchpad-llm {
    color: gray;
}

#custom-scratchpad-llm.enabled {
    color: #e09b9b
}

#custom-scratchpad-llm:hover {
    background: rgba(239, 203, 203, 0.5);
    transition: background 0.3s ease;
}

#custom-scratchpad-translate {
    color: gray;
}

#custom-scratchpad-translate.enabled {
    color: #5080ff;
}

#custom-scratchpad-translate:hover {
    background: rgba(128, 173, 248, 0.5);
    transition: background 0.3s ease;
}

#custom-scratchpad-terminal {
    color: gray;
}

#custom-scratchpad-terminal.enabled {
    color: blue;
}

#custom-scratchpad-terminal:hover {
    background: rgba(0, 0, 255, 0.5);
    transition: background 0.3s ease;
}

#custom-scratchpad-python {
    color: gray;
}

#custom-scratchpad-python.enabled {
    color: green;
}

#custom-scratchpad-python:hover {
    background: rgba(0, 255, 0, 0.5);
    transition: background 0.3s ease;
}

#custom-scratchpad-scrcpy-phone {
    color: gray;
}

#custom-scratchpad-scrcpy-phone.enabled {
    color: green;
}

#custom-scratchpad-scrcpy-phone:hover {
    background: rgba(0, 255, 0, 0.5);
    transition: background 0.3s ease;
}

#custom-scratchpad-scrcpy-watch {
    color: gray;
}

#custom-scratchpad-scrcpy-watch.enabled {
    color: green;
}

#custom-scratchpad-scrcpy-watch:hover {
    background: rgba(0, 255, 0, 0.5);
    transition: background 0.3s ease;
}

#custom-scratchpad-keymapp {
    color: gray;
}

#custom-scratchpad-keymapp.enabled {
    color: green;
}

#custom-scratchpad-keymapp:hover {
    background: rgba(0, 255, 0, 0.5);
    transition: background 0.3s ease;
}

#custom-scratchpad-temp-1 {
    color: gray;
}

#custom-scratchpad-temp-1.enabled {
    color: red;
}

#custom-scratchpad-temp-1:hover {
    background: rgba(255, 0, 0, 0.5);
    transition: background 0.3s ease;
}

#custom-scratchpad-temp-2 {
    color: gray;
}

#custom-scratchpad-temp-2.enabled {
    color: green;
}

#custom-scratchpad-temp-2:hover {
    background: rgba(0, 255, 0, 0.5);
    transition: background 0.3s ease;
}

#custom-scratchpad-temp-3 {
    color: gray;
    border-radius: 0 10px 10px 0;
    padding-right: 8px;
    padding-left: 5px;
}

#custom-scratchpad-temp-3.enabled {
    color: blue;
}

#custom-scratchpad-temp-3:hover {
    background: rgba(0, 0, 255, 0.5);
    transition: background 0.3s ease;
}

box#toggle {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

#custom-mouse-warping,
#custom-dunst,
#custom-scale,
#custom-keyboard-backlit {
    padding-right: 3px;
    padding-left: 3px;
    margin:  0;
    color: lightgray;
}

#custom-dunst,
#custom-scale,
#custom-keyboard-backlit {
    border-left: 1px solid rgba(255, 255, 255, 0.1);
}

#custom-mouse-warping {
    padding-right: 3px;
    padding-left: 8px;
}

#custom-mouse-warping.disabled {
    color: dimgray;
}

#custom-mouse-warping.enabled {
}

#custom-mouse-warping:hover {
    background: rgba(128, 128, 128, 0.5);
    transition: background 0.3s ease;
}

#custom-dunst.disabled {
    color: dimgray;
}

#custom-dunst.enabled {
    color: goldenrod;
}

#custom-dunst:hover {
    background: rgba(128, 128, 128, 0.5);
    transition: background 0.3s ease;
}

#custom-scale.default {
    color: dimgray;
}

#custom-scale.zoom {
}

#custom-scale:hover {
    background: rgba(128, 128, 128, 0.5);
    transition: background 0.3s ease;
}

#custom-keyboard-backlit {
    padding-right: 8px;
    padding-left: 5px;
}

#custom-keyboard-backlit {
    font-family: "Material Symbols Outlined";
    font-size: 20px;
}

#custom-keyboard-backlit.off {
    color: dimgray;
}

#custom-keyboard-backlit.low {
    color: goldenrod;
}

#custom-keyboard-backlit.high {
    color: red;
}

#custom-keyboard-backlit:hover {
    background: rgba(128, 128, 128, 0.5);
    transition: background 0.3s ease;
}

#custom-keyboard-backlit.empty {
    border-left: 0;
    padding: 0;
}

#cpu,
#memory,
#temperature,
#disk {
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    padding-right: 5px;
    padding-left: 5px;
    background-color: rgba(0, 0, 0, 0.2);
    color: lightgray;
}

#cpu:hover,
#memory:hover,
#temperature:hover,
#disk:hover {
    background: rgba(128, 128, 128, 0.5);
    transition: background 0.3s ease;
}

#cpu {
    border-radius: 10px 0 0 10px;
}

#memory {
}

#temperature {
}

#temperature.warning {
    background-color: yellow;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#disk {
    border-radius: 0 10px 10px 0;
}

#pulseaudio.speaker,
#pulseaudio.microphone,
#backlight,
#custom-gamma {
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    padding-right: 5px;
    padding-left: 5px;
    margin:  0;
    background-color: rgba(0, 0, 0, 0.2);
    color: lightgray;
}

#pulseaudio.speaker:hover,
#pulseaudio.microphone:hover,
#backlight:hover,
#custom-gamma:hover {
    background: rgba(128, 128, 128, 0.5);
    transition: background 0.3s ease;
}

#pulseaudio.speaker {
    padding-left: 8px;
    border-radius: 10px 0 0 10px;
}

#pulseaudio.speaker.muted {
    background-color: #90b1b1;
    color: #2a5c45;
}

#pulseaudio.microphone {
}

#pulseaudio.microphone.muted {
    background-color: #90b1b1;
    color: #2a5c45;
}

#backlight {
    border-radius: 0;
}

#custom-gamma {
    border-radius: 0 10px 10px 0;
    padding-right: 8px;
}

#battery {
    border-radius: 10px;
    padding-right: 8px;
    padding-left: 8px;
    background-color: rgba(0, 0, 0, 0.2);
    color: lightgray;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
}

#battery.charging, #battery.plugged {
    color: #ffffff;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#battery:hover {
    background: rgba(128, 128, 128, 0.5);
    transition: background 0.3s ease;
}

#datetime #clock.date,
#datetime #clock.time {
    margin:  0;
    background-color: rgba(0, 0, 0, 0.2);
    color: lightgray;
}

#datetime #clock.date:hover,
#datetime #clock.time:hover {
    background: rgba(128, 128, 128, 0.5);
    transition: background 0.3s ease;
}

#datetime #clock.date {
    padding-right: 5px;
    padding-left: 8px;
    border-radius: 10px 0 0 10px;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
}

#datetime #clock.time {
    padding-right: 5px;
    padding-left: 8px;
    border-radius: 0 10px 10px 0;
}

#network {
    background-color: #2980b9;
}

#network.disconnected {
    background-color: #f53c3c;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#tray {
    background-color: #2980b9;
    padding-right: 5px;
    padding-left: 5px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpris {
    border-radius: 10px;
    margin:  0;
    background-color: rgba(0, 0, 0, 0.2);
    color: lightgray;
}

#mpris.playing {
}

#mpris.paused {
    background-color: transparent;
    color: gray;
}

#mpris.stopped {
    background-color: transparent;
    color: gray;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: #00b093;
    color: #740864;
    padding-right: 5px;
    padding-left: 5px;
    margin-right: 5px;
    margin-left: 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0;
    margin-right: 5px;
    margin-left: 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding-right: 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#custom-vpn-lcn.enabled {
    background-color: #00b0b0;
    color: white;
}

#custom-vpn-unicamp.enabled {
    background-color: #00b0b0;
    color: white;
}

#custom-vpn-lbic.enabled {
    background-color: #00b0b0;
    color: white;
}

#custom-vpn-samsung.enabled {
    background-color: #00b0b0;
    color: white;
}

#custom-capslock.enabled {
    background-color: #97e1ad;
    color: black;
}

#custom-battery-mouse {
    color: lightgray;
}

#custom-battery-mouse.full {
}

#custom-battery-mouse.good {
}

#custom-battery-mouse.low {
    background: rgba(255, 255, 0, 0.5);
}

#custom-battery-mouse.critical {
    background: rgba(255, 0, 0, 0.5);
}

#custom-mouse-warping:hover {
    background: rgba(128, 128, 128, 0.5);
    transition: background 0.3s ease;
}

#custom-lanmouse-status.disconnected {
    color: dimgray;
}

#custom-lanmouse-status.connected {
    color: lightgray;
}

#custom-lanmouse-status.active {
    color: lightgreen;
}

#custom-lanmouse-status.unknown {
    color: red;
}

#custom-lanmouse-status:hover {
    background: rgba(128, 128, 128, 0.5);
    transition: background 0.3s ease;
}

#custom-systemd-lanmouse {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 16px;
}

#custom-systemd-lanmouse.running {
    color: lightgray;
}

#custom-systemd-lanmouse.stopped {
    color: dimgrey;
}

#custom-systemd-lanmouse:hover {
    background: rgba(128, 128, 128, 0.5);
    transition: background 0.3s ease;
}
