user_pref("mail.accountmanager.accounts", "account1,account2,account3,account4");
user_pref("mail.accountmanager.defaultaccount", "account1");
user_pref("mail.smtpservers", "smtp1,smtp2,smtp3,smtp4");

user_pref("mail.account.account1.identities", "id1");
user_pref("mail.account.account1.server", "server1");
user_pref("mail.identity.id1.fullName", "Rafael Ito");
user_pref("mail.identity.id1.useremail", "{{ email_personal_gmail }}");
user_pref("mail.identity.id1.smtpServer", "smtp1");

user_pref("mail.server.server1.hostname", "imap.gmail.com");
user_pref("mail.server.server1.userName", "{{ email_personal_gmail }}");
user_pref("mail.server.server1.type", "imap");
user_pref("mail.server.server1.port", 993);
user_pref("mail.server.server1.socketType", 3);
user_pref("mail.server.server1.authMethod", 10);

user_pref("mail.smtpserver.smtp1.hostname", "smtp.gmail.com");
user_pref("mail.smtpserver.smtp1.username", "{{ email_personal_gmail }}");
user_pref("mail.smtpserver.smtp1.port", 465);
user_pref("mail.smtpserver.smtp1.authMethod", 10);
user_pref("mail.smtpserver.smtp1.try_ssl", 3);

user_pref("mail.account.account2.identities", "id2");
user_pref("mail.account.account2.server", "server2");
user_pref("mail.identity.id2.fullName", "Rafael Ito");
user_pref("mail.identity.id2.useremail", "{{ email_academic_unicamp }}");
user_pref("mail.identity.id2.smtpServer", "smtp2");

user_pref("mail.server.server2.hostname", "imap.gmail.com");
user_pref("mail.server.server2.userName", "{{ email_academic_unicamp }}");
user_pref("mail.server.server2.type", "imap");
user_pref("mail.server.server2.port", 993);
user_pref("mail.server.server2.socketType", 3);
user_pref("mail.server.server2.authMethod", 10);

user_pref("mail.smtpserver.smtp2.hostname", "smtp.gmail.com");
user_pref("mail.smtpserver.smtp2.username", "{{ email_academic_unicamp }}");
user_pref("mail.smtpserver.smtp2.port", 465);
user_pref("mail.smtpserver.smtp2.try_ssl", 3);
user_pref("mail.smtpserver.smtp2.authMethod", 10);
