user_pref("mail.accountmanager.accounts", "account1,account2,account3,account4");
user_pref("mail.accountmanager.defaultaccount", "account1");
user_pref("mail.smtpservers", "smtp1,smtp2,smtp3,smtp4");

user_pref("mail.account.account1.identities", "id1");
user_pref("mail.account.account1.server", "server1");
user_pref("mail.identity.id1.fullName", "Rafael Ito");
user_pref("mail.identity.id1.useremail", "{{ email_personal_gmail }}");
user_pref("mail.identity.id1.smtpServer", "smtp1");

user_pref("mail.server.server1.hostname", "imap.gmail.com");
user_pref("mail.server.server1.userName", "{{ email_personal_gmail }}");
user_pref("mail.server.server1.type", "imap");
user_pref("mail.server.server1.port", 993);
user_pref("mail.server.server1.socketType", 3);
user_pref("mail.server.server1.authMethod", 10);

user_pref("mail.smtpserver.smtp1.hostname", "smtp.gmail.com");
user_pref("mail.smtpserver.smtp1.username", "{{ email_personal_gmail }}");
user_pref("mail.smtpserver.smtp1.port", 465);
user_pref("mail.smtpserver.smtp1.authMethod", 10);
user_pref("mail.smtpserver.smtp1.try_ssl", 3);

user_pref("mail.account.account2.identities", "id2");
user_pref("mail.account.account2.server", "server2");
user_pref("mail.identity.id2.fullName", "Rafael Ito");
user_pref("mail.identity.id2.useremail", "{{ email_academic_unicamp }}");
user_pref("mail.identity.id2.smtpServer", "smtp2");

user_pref("mail.server.server2.hostname", "imap.gmail.com");
user_pref("mail.server.server2.userName", "{{ email_academic_unicamp }}");
user_pref("mail.server.server2.type", "imap");
user_pref("mail.server.server2.port", 993);
user_pref("mail.server.server2.socketType", 3);
user_pref("mail.server.server2.authMethod", 10);

user_pref("mail.smtpserver.smtp2.hostname", "smtp.gmail.com");
user_pref("mail.smtpserver.smtp2.username", "{{ email_academic_unicamp }}");
user_pref("mail.smtpserver.smtp2.port", 465);
user_pref("mail.smtpserver.smtp2.try_ssl", 3);
user_pref("mail.smtpserver.smtp2.authMethod", 10);

user_pref("mail.account.account3.identities", "id3");
user_pref("mail.account.account3.server", "server3");
user_pref("mail.identity.id3.fullName", "Rafael Ito (Promo)");
user_pref("mail.identity.id3.useremail", "{{ email_personal_promotional }}");
user_pref("mail.identity.id3.smtpServer", "smtp3");

user_pref("mail.server.server3.hostname", "imap.gmail.com");
user_pref("mail.server.server3.userName", "{{ email_personal_promotional }}");
user_pref("mail.server.server3.type", "imap");
user_pref("mail.server.server3.port", 993);
user_pref("mail.server.server3.socketType", 3);
user_pref("mail.server.server3.authMethod", 10);

user_pref("mail.smtpserver.smtp3.hostname", "smtp.gmail.com");
user_pref("mail.smtpserver.smtp3.username", "{{ email_personal_promotional }}");
user_pref("mail.smtpserver.smtp3.port", 465);
user_pref("mail.smtpserver.smtp3.authMethod", 10);
user_pref("mail.smtpserver.smtp3.try_ssl", 3);

user_pref("mail.account.account4.identities", "id4");
user_pref("mail.account.account4.server", "server4");
user_pref("mail.identity.id4.fullName", "Rafael Ito");
user_pref("mail.identity.id4.useremail", "{{ email_personal_outlook }}");
user_pref("mail.identity.id4.smtpServer", "smtp4");

user_pref("mail.server.server4.hostname", "outlook.office365.com");
user_pref("mail.server.server4.userName", "{{ email_personal_outlook }}");
user_pref("mail.server.server4.type", "imap");
user_pref("mail.server.server4.port", 993);
user_pref("mail.server.server4.socketType", 3);
user_pref("mail.server.server4.authMethod", 10); // Modern Auth for Outlook

user_pref("mail.smtpserver.smtp4.hostname", "smtp.office365.com");
user_pref("mail.smtpserver.smtp4.username", "{{ email_personal_outlook }}");
user_pref("mail.smtpserver.smtp4.port", 587);
user_pref("mail.smtpserver.smtp4.authMethod", 10);
user_pref("mail.smtpserver.smtp4.try_ssl", 2);

user_pref("mail.pane_config.dynamic", 0);

//user_pref("mailnews.ui.threadpane.version", 1);
