[Unit]
Description=kanata user service
#Requires=xremap.service
#After=xremap.service

[Service]
Type=simple
#ExecStartPre=/usr/bin/sleep 1
ExecStartPre=/usr/bin/bash -c "/home/rafael/.config/waybar/scripts/kanata.sh stop"
ExecStart=/usr/bin/kanata -c /home/rafael/.config/kanata/kanata.kbd
ExecStartPost=/usr/bin/echo active > /tmp/kanata-status.tmp
ExecStop=/usr/bin/killall kanata
ExecStopPost=/usr/bin/echo inactive > /tmp/kanata-status.tmp

[Install]
WantedBy=default.target