[Unit]
Description=KMonad user service

[Service]
Type=simple
ExecStartPre=/usr/bin/bash -c "/home/rafael/.config/waybar/scripts/kmonad.sh stop"
ExecStart=/usr/bin/kmonad /home/rafael/.config/kmonad/inkl-1ru.kbd
ExecStartPost=/usr/bin/echo active > /tmp/kmonad-status.tmp
ExecStop=/usr/bin/killall kmonad
ExecStopPost=/usr/bin/echo inactive > /tmp/kmonad-status.tmp

[Install]
WantedBy=default.target
