[Unit]
Description=KMonad service

[Service]
Type=simple
ExecStart=/usr/bin/kmonad /home/rafael/.config/kmonad/inkl-1ru.kbd
ExecStartPost=/usr/bin/bash -c "su rafael -c 'echo active > /tmp/kmonad-status.tmp'"
ExecStop=/usr/bin/killall kmonad
ExecStopPost=/usr/bin/bash -c "su rafael -c 'echo inactive > /tmp/kmonad-status.tmp'"

[Install]
WantedBy=default.target
