# HiDPI (resolution and DPI)
xrandr --output eDP-1 --mode 3200x1800 --dpi 276

# natural scrolling
xinput set-prop "SynPS/2 Synaptics TouchPad" "Synaptics Scrolling Distance" -114 -114

# set default terminal to be used in i3
export TERMINAL=kitty

# set path to i3blocks-contrib scripts
export SCRIPT_DIR=/usr/lib/i3blocks

# load ~./xbindkeysrc (custom keybinds)
xbindkeys

# load Xmodmap keyboard config
xmodmap ~/.Xmodmap
