[Unit]
Description=Semaphore UI
Documentation=https://docs.semaphoreui.com/
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/semaphore server --config /home/ansible/.config/semaphore/config.json
Restart=always
RestartSec=10s

[Install]
WantedBy=default.target
